#container{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h2{
    margin-left: auto;
    margin-right: auto;
}

#space{
    min-height: 50px;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
    margin-bottom: 30px;
}